* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    background-image: url('../Images/Bg.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: 'Aligarh', Arial, sans-serif;
  }
  
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10%;
    background-color: rgba(255, 255, 255, 0.08);
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.4);
  }
  
  .logo img {
    height: 40px; /* Adjust as needed */
    margin-left: 0.0001px;
  }
  
  .cta {
    padding: 9px 25px;
    background-color: #005EA3;
    border: none;
    margin-left:auto;
    margin-right:50px;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    text-decoration: none;
    color: #edf0f1;
  }
  
  .b {
    margin-right : 20px;
  }
  
  .cta:hover {
    background-color: #004d8a;
  }
  
  .main-container {
    display: flex;
    width: 100%;
    height: calc(100vh - 60px); /* Minus the header height */
  }

  #content  {
    flex-grow: 1;
    padding: 20px;
    
  }
  #content th {
    
    font-size: 60px;
    font-family: 'Roboto slab';
    margin-bottom: 10px;
    text-align: left;
    margin-left: 25px;
  }

  .line1{
    color: #005EA3;
    font-weight: 100;

  }

  .line2{
    color: #FFF;
    font-size: large;
    font-weight: 100;
  }

  .space-row{
    height: 125px;
  }

  .space-colomn{
    width: 30px;
  }

  
  
  #userImage {
    position:absolute;
    top: 65%; 
    left: 50%; 
    transform: translate(0%, -50%);
}
 

#userImage {
  max-width: 200px; /* Adjust as needed */
  max-height: 200px; /* Adjust as needed */
}

.input-field {
  position: absolute;
  top: 50%;
  right: 10%;
  transform: translateY(-50%);
  text-align: center; /* Center align content */
}

.input-field input[type="text"] {
  width: 200px; /* Adjust width as needed */
  padding: 8px; /* Adjust padding as needed */
  border: 1px solid #ccc; /* Border style */
  border-radius: 4px; /* Border radius */
}

.input-field button {
  display: block; /* Make button display as block */
  margin-top: 10px; /* Adjust top margin */
  padding: 8px 16px; /* Adjust padding as needed */
  background-color: #007bff; /* Button background color */
  color: #fff; /* Button text color */
  border: none; /* Remove button border */
  border-radius: 4px; /* Button border radius */
  cursor: pointer; /* Change cursor to pointer on hover */
  width: 100px; /* Set button width */
  margin: 10px auto; /* Center horizontally */
}

.input-field button:hover {
  background-color: #0056b3; /* Button background color on hover */
}